<div>
    <div class="ibox-content">
        <form method="get" name="AddHomeForm" class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-4 control-label">Home ID</label>
                <div class="col-sm-6">
                    <input type="number" name="HaID" maxlength="10" class="form-control" ng-model="homeAddress.hA_ID" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Home Number</label>
                <div class="col-sm-6">
                    <input type="number" name="HNumber" maxlength="10" class="form-control" ng-model="hA_Number" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Housing Development</label>
                <div class="col-sm-6">
                    <input type="text" name="Hdev" maxlength="50" class="form-control" ng-model="hA_HomeName" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Village no.</label>
                <div class="col-sm-6">
                    <input type="number" name="Vno" maxlength="2" class="form-control" ng-model="hA_Moo" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Alley</label>
                <div class="col-sm-6">
                    <input type="text" name="Alley" maxlength="50" class="form-control" ng-model="hA_Soi" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Road</label>
                <div class="col-sm-6">
                    <input type="text" name="Road" maxlength="50" class="form-control" ng-model="hA_Road" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Province</label>
                <div class="col-sm-6">
                        <ui-select name="Province"
                                   ng-model="TestProvince"
                                   theme="bootstrap"
                                   ng-required="true">
                            <ui-select-match allow-clear="true" placeholder="input Province here">{{$select.selected.pV_NameTH}}</ui-select-match>
                            <ui-select-choices repeat="pvid.pV_ID as pvid in Province | filter: $select.search ">
                                <div ng-bind-html="pvid.pV_NameTH | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Sub-District</label>
                <div class="col-sm-6">
                    <ui-select name="Distric"
                               ng-model="testDistrict"
                               theme="bootstrap"
                               ng-required="true">
                        <ui-select-match allow-clear="true" placeholder="input district here">{{$select.selected.dT_NameTH}}</ui-select-match>
                        <ui-select-choices repeat="disid.dT_ID as disid in District | filter: $select.search">
                            <div ng-bind-html="disid.dT_NameTH | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-4 control-label">Sub-District</label>
                <div class="col-sm-6">
                        <ui-select name="SubDistric"
                                   ng-model="homeAddress.std_ID"
                                   theme="bootstrap"
                                   ng-required="true">
                            <ui-select-match allow-clear="true" placeholder="input subdis here">{{$select.selected.std_NameTH}}</ui-select-match>
                            <ui-select-choices repeat="stdid.std_ID as stdid in SubDistrict | filter: $select.search ">
                                <div ng-bind-html="stdid.std_NameTH | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                </div>
            </div>
       
            <div class="form-group">
                <label class="col-sm-4 control-label">Zip Code</label>
                <div class="col-sm-6">
                    <input type="number" name="Zipc" maxlength="5" class="form-control" ng-model="hA_PosCode" required>
                </div>
            </div>



            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-offset-2">
                    <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" type="submit" ng-click="Submit()" ng-disabled="AddHomeForm.$invalid">Save changes</button>
                </div>
            </div>


            <pre>{{homeAddress}}</pre>
        </form>
    </div>
</div>
