<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <button type="button" class="btn btn-primary btn-lg pull-right" ng-click="goAdd()">ADD+</button>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-2 control-label">Search By Personal ID</label>
                            <div class="col-md-2">
                                <input type="text" placeholder=""
                                       class="form-control" ng-model="M_ID">
                            </div>
                            <label class="col-sm-2 control-label">Search By Firstname</label>
                            <div class="col-md-2">
                                <input type="text" placeholder=""
                                       class="form-control" ng-model="Fname">   
                            </div>

                            <label class="col-sm-2 control-label">Search By Midname</label>
                            <div class="col-md-2">
                                <input type="text" placeholder=""
                                       class="form-control" ng-model="Mname">
                            </div>

                            <label class="col-sm-2 control-label">Search By Lastname</label>
                            <div class="col-md-2">
                                <input type="text" placeholder=""
                                       class="form-control" ng-model="Lname">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
               

                <div class="ibox-content">
                    <div class="form-group">
 

                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                            <thead>
                                <tr>
                                    <th>Personal ID</th>
                                    <th>Firstname</th>
                                    <th>Midname</th>
                                    <th>Lastname</th>
                                    <th>HomeID</th>
                                    <th>Home-Tel</th>
                                    <th>Telephone</th>
                                    <th>Email</th>
                                    <th>CreateDate</th>
                                    <th>CreateBy</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="person in mentor | filter: {mR_ID:M_ID, mR_Fname: Fname, mR_Mname: Mname, mR_Lname: Lname }    ">

                                    <td>{{ person.mR_ID }}</td>
                                    <td>{{ person.mR_Fname }}</td>
                                    <td>{{ person.mR_Mname }}</td>
                                    <td>{{ person.mR_Lname }}</td>
                                    <td>{{ person.hA_ID }}</td>
                                    <td>{{ person.mR_HomeTel }}</td>
                                    <td>{{ person.mR_Mobile }}</td>
                                    <td>{{ person.mR_Email }}</td>
                                    <td>{{ person.mR_Date }}</td>
                                    <td>{{ person.mR_Man }}</td>
                                    <td>{{ person.mR_Del }}</td>
                                    <td><a ng-click="goEDIT()"><i class="fa fa-paste" ></i></a></td>
                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
