<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Add form

                    </h5>

                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">รหัสผู้แนะนำ</label>
                            <div class="col-sm-6"><input type="text" class="form-control"></div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-1 control-label">เลขประจำตัวประชาชน</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">รหัสชื่อนำ</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">ชื่อ</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">ชื่อกลาง</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">นามสกุล</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">รหัสบ้าน</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">เบอร์โทรศัพท์บ้าน</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">เบอร์โทรศัพท์บส่วนตัว</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">อีเมลล์</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">วันสร้าง</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">ผู้สร้าง</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">สถานะการใช้งาน</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="submit">Cancel</button>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
